* {
	margin: 0px;
	padding: 0px;
}

html {
	background-image: url('../images/bats.gif');
	background-repeat: repeat;	
}

body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: #ffffff;
	margin: 20px auto;
	border: 2px solid black;
	box-shadow: 0px 10px 10px 10px black;
	padding:20px;
}

a {
	font-weight: bold;
	color: orange;
}

a:link, a:visited { 
	color: orange; 
}

a:hover, a:focus { 
    color: green;
}

header {
	padding: 15px;
	border-bottom: 2px solid black;
	background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
}

header img { 
	float: left; 
} 

header #line-1 {
	font-size: 230%;
	font-weight: bold;
	text-indent: 25px;
	
}
header #line-2 {
	font-size: 125%;
	font-weight: bold;
	text-indent: 25px;	
}

#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#nav_menu ul li {
	float: left;
}

#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #000000;
    color: white;
    font-weight: bold;
}

#nav_menu a.current {
	color: orange;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li {
	float: none;
}

#nav_menu ul li:hover > ul {
	display: block;
}

#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

main h1 { 
	font-size: 140%;
	text-shadow:1px 1px #0000;
}

main h1:first-letter { 
	font-size: 240%;
}

main h2 {
	font-size: 125%;
	padding: 10px 10px;
}

main h3 {
	font-size: 110%;
	padding: 10px 10px;
}

main p {
	padding: 5px 5px;
}

ul {
	line-height: 1.5em;
	margin: 0px 0px 0px 35px;
}

section {
	width: 665px;	
	padding: 0 20px 20px 20px;
}

section h1 {
	font-size: 150%;
	color: #000000;
	padding: .5em 0 .25em 0;
	margin: 0;
}

aside {
	float: left;
	width: 160px;
	padding-top: 15px !important;
	min-height: 770px;	
}

footer {
	clear: left;
	margin-top: 20px;
	padding: 15px 0px;
	border-top: 2px solid black;	
	background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
}

footer p {
	font-size: 90%;
	text-align: center;	
}

.required {
border-color:orange;
padding: 0px;
}
#Number-of-tickets{
	color:#888;
}


#province{
	color:#888;
	padding: 0px;
}

#postal-code{
	color:#888;
}

#phone-number{
	color:#888;
}
.labelText{
    display: inline-block;
    float: left;
    clear: left;
    width: 12em;
    text-align: right;
}
label: member-information{
	display: inline-block;
    float: left;
    clear: left;
    width: 12em;
    text-align: right;

}
label, input{
	font-size:90%;
}

#submit{
	width:10em;
	margin-left: 150px;
	
}
#reset{
	width:10em;
}

}
fieldset#info{
	
	margin-bottom:0.5em;
	margin-top:0
}

Legend{
	color:#888;
	font-weight: bold;
	font-size:85%;
	margin: 1px;

}

input{
		display: inline-block;
		font-size: 85%;
		margin-bottom:0.5em;
		margin-left: 0.5em;
		width: 15em;
		border: 2px solid orange;
		bor
}
.radio{
	margin: auto;
}
select{
	
	display: inline-block;
		font-size: 85%;
		margin-bottom:0.5em;
		border: 1px solid black;
		
}
label, input, select{
	font-size:90%
}

#labelButton{
	display: inline-block;
    vertical-align: top;
	border: 2px solid black;
	float: right;
}

#inputButton{
	 display: inline-block;
    vertical-align: top;
	width:12em;
	border: 2px solid black;
	
	
}
#payment_method{
	
	float: none;
}

#input[type="radio"]{
	
	width: auto;
	margin-left: 1px;
}
#month{
	
	width:7em;
}
#year{
	
	width: 5em;
}